
.container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

}

.container .content h1 {
    font-family: "Coming Soon", cursive;
    font-size: 80px;
    color: #fff;
}