.container a {
    text-decoration: none;
    color: #fff;

}

.content {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.container h1 {
    text-align: center;
    font-size: 46px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.content .rio {
    border-radius: 8px;
    width: 300px;
    height: 540px;
    color: rgb(0, 0, 0);
    background-color: rgba(211, 211, 211, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .rio img {
    width: 270px;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content .rio p {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    padding-bottom: 15px;
}

.content .north img {
    width: 270px;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content .north p {
    padding-bottom: 15px;
}

.last-btn {
    font-size: 15px;
    padding: 12px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20PX;
    display: grid;
    position: absolute;
    left: 44%;
}

.last-btn:hover {
    background: #a81061;
    transition: 0.4s;
}