* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 11px 8%;
    /** Bu hareket ile conttainerdeki her şeye bu değerler arasına alıyoruz**/
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav .logo {
    width: 180px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;

}

nav ul li a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.btn img {
    width: 22px;
    margin-right: 10px;
}

.btn:hover {
    background: #a81061;
    transition: 0.4s;
}

.container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

}

.container .content h1 {
    font-family: "Coming Soon", cursive;
    font-size: 80px;
    color: #fff;
}