* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 11px 8%; /** Bu hareket ile conttainerdeki her şeye bu değerler arasına alıyoruz**/
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
nav .logo{
    width: 180px;
    cursor: pointer;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;

}
nav ul li a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.btn img{
    width: 22px;
    margin-right: 10px;
}

.btn:hover{
    background: #a81061;
    transition: 0.4s;
}
.content-container{
    display: flex;
    align-items: center;
    height: calc(100vh - 220px);
}
.content{
    color: #fff;
    max-width: 620px;
}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.content form{
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;

}
.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;

}
.content form btn{
    
    font-size: 15px;
    padding: 10px 30px;
}

.footer{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    align-items: end;
    font-size: 10px;
    margin-top: 50px;
    
}